 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flip Card Game</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container-div">
    <div class="form-wrapper">
     <div class="form-wrapper-right">
        <form class="logout-btn" method="POST" action="/api/logout">
            <button class="button logout-btn click-btn" type="submit">Logout</button>
        </form>
    </div>
    <p>{{errMessage}}</p>
    <div class="form-wrapper-header">
        <form class="form-header" method="POST" action="/api/decks">
            <input class="inputs" type="text" name="name" placeholder="New Deck:">
            <button class="button" type="submit">Add</button>
        </form>
    </div>

    {{#data}}
    <div class="form-wrapper-center">
    <p class="center-text">{{name}}</p>
        <form method="GET" action="/api/decks/{{id}}/start">
            <button class="button" type="submit">Start</button>
        </form>
        <form method="GET" action="/api/decks/{{id}}">
            <button class="button" type="submit">Manage</button>
        </form>
    </div>
    {{/data}}
    </div>
</body>
</html>