<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flip Card Game</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="form-container-div">
    <div class="login-wrapper"> 
        <h1 class="login-header">LOG IN</h1>
        <p class="center-text">{{message}}</p>
        <form  class="form-wrapper" method="POST" action="/api/login">
            <div class="form-wrapper-center">
                <input name="email" type="text" class="inputs" placeholder="Email:" />
                <input name="password" type="text" class="inputs" placeholder="Password: " />
            </div>
            <div class="form-footer">
                <input class="button click-btn" type="submit" name="submit" value="Login"/>
            </div>
        </form>
    </div>
</body>
</html>